@use 'reset';
@use 'variables/global';
@use 'themes/default';
@use 'themes/dark';

body {
  font: var(--font-m);
  color: var(--color-secondary);
}

.app {
  min-height: 100vh;
  background: var(--color-bg);
}

.content-page {
  display: flex;
}
