.Tag {
  padding: 4px 10px;
  border-radius: var(--border-radius-default);
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.faded {
  background-color: var(--color-faded);
}

.error {
  background-color: var(--color-error);
}
