.ArticleHeaderFull {
  display: flex;
  flex-direction: column;
}

.username-container {
  margin-bottom: 12px;
}

.title-container {
  margin-bottom: 12px;
}

.info-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
  margin-bottom: 12px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tags-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
