.Button {
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-default);
  transition: all var(--transition-time-default);
  height: fit-content;

  &:hover:not(.disabled) {
    opacity: var(--opacity-hover);
    // fill-opacity: var(--opacity-hover);
    // stroke-opacity: var(--opacity-hover);
  }
}

// Colors
.primary {
  background: var(--color-primary);
  color: var(--color-white);

  &:focus-within {
    background: var(--color-primary);
  }
}

// Sizes
.size_s {
  font: var(--font-m);
  padding: 4px 16px;
}

.size_m {
  font: var(--font-m);
  padding: 6px 16px;
}

.size_l {
  font: var(--font-l);
  padding: 8px 16px;
}

// Variants
.solid {
  // background: var(--color-primary);
  // color: var(--color-bg);
}

.text {
  padding: 0 !important;
  border: none;
  background: none;
  outline: none;
  color: var(--color-primary);

  &.size_m {
    font: var(--font-m);
  }

  &:focus-within {
    background: none;
  }
}

.outline {
  background: none;
  color: var(--color-primary);

  &:focus-within {
    background: none;
  }
}

// Square
.square {
  padding: 0;

  &.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
  }

  &.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
  }
}

.disabled {
  opacity: var(--opacity-disabled);
}
