.Skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-skeleton-start);
  }

  100% {
    background-color: var(--color-skeleton-end);
  }
}
