.app-theme-dark {
  --color-bg: #080808;
  --color-bg-highlight: #171717;
  --color-primary: #b82403;
  --color-secondary: #ddd;
  --color-faded: #909090;
  --color-faded-extra: #dadada;
  --color-skeleton-start: #222425;
  --color-skeleton-end: #373838;

  --color-bg-inverted: #f4f9fb;
  --color-primary-inverted: #b82403;
  --color-secondary-inverted: #333;
  --color-faded-inverted: #909090;
  --color-faded-extra-inverted: #dadada;
}
