:root {
  --color-bg: #f0f0f0;
  --color-bg-highlight: #fff;
  --color-primary: #b82403;
  --color-secondary: #333;
  --color-faded: #909090;
  --color-faded-extra: #dadada;
  --color-skeleton-start: #c2cfd6;
  --color-skeleton-end: #f0f3f5;

  --color-bg-inverted: #1f1f1f;
  --color-primary-inverted: #b82403;
  --color-secondary-inverted: #ddd;
  --color-faded-inverted: #909090;
  --color-faded-extra-inverted: #2d2d2d;
}
