.app.light {
  --bg-color: #e3e3e3;
  --inverted-bg-color: #3a3a3a;
  --primary-color: #16c8bc;
  --secondary-color: #363636;
  --inverted-primary-color: #1f8a10;
  --inverted-secondary-color: #e7e7e7;
}